<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layouts/base"
    th:with="currentPage='otp',navType='subNav'"
>
    <head>
        <title>OTP Authentication</title>
    </head>
    <body>
        <div layout:fragment="content">
            <section class="page-section" id="info" style="min-height: calc(100vh - 96px);">
                <div class="container">
                    <h2 class="text-center mt-0">OTP Authentication</h2>
                    <hr class="divider my-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-7">
                            <div class="card o-hidden border-0 shadow my-2 rounded bg-aqua text-white">
                                <div class="card-body p-0">
                                    <div class="p-4">
                                        <h3 style="white-space: pre-wrap;" class="font-weight-bold" th:text="${tx.detail}"></h3>
                                        <h6>Transaction Detail</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8">
                            <div class="card o-hidden border-0 shadow-lg my-3 rounded pt-3">
                                <div class="card-body">
                                    <div class="p-5">

                                        <form role="form" id="otpForm" method="post" enctype="multipart/form-data" th:action="@{/verifyOtp}">
                                            <div class="form-group">
                                                <input class="form-control rounded-pill form-control-lg" placeholder="Enter the OTP" id="otpCode" name="otpCode" type="number" autofocus="" required=""/>
                                            </div>
                                            <button id="submitBtn" type="submit" class="btn btn-primary btn-block rounded-pill form-control-lg">Submit</button>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div layout:fragment="customJs" th:inline="javascript">
            <script>
                $(function(){
                    $("#submitBtn").click(function (event) {
                        event.preventDefault();
                        submitOtp();                
                    });
                    
                    function submitOtp() {
                        $('#loading').modal('show');
                        $('#loading').on('shown.bs.modal', function (event) {
                            var modal = $(this);
                            // 取得form
                            var form = $('#otpForm')[0];
                            var data = new FormData(form);
                            
                            $("#submitBtn").prop("disabled", true);
                            $.ajax({
                                type: "POST",               //使用POST傳輸,檔案上傳只能用POST
                                enctype: 'multipart/form-data', //將資料加密傳輸 檔案上傳一定要有的屬性
                                url: "/wallet/requestVerifyOtp", //要傳輸對應的接口
                                data: data,         //要傳輸的資料,我們將form 內upload打包成data
                                processData: false, //防止jquery將data變成query String
                                contentType: false, 
                                cache: false,  //不做快取
                                async : false  //設為同步
                            }).done(function(response) {
                                modal.off('shown.bs.modal');
                                modal.modal("hide");
                                $("#submitBtn").prop("disabled", false);
                                Swal.fire(response['title'], response['text'], response['icon']).then(
                                    function () {
                                        if(response['title']=="Successful" || response['title']=="Error") location.href = [[@{/wallet}]];
                                    }
                                );
                            })
                        }) 
                    }
                })
            </script>
        </div>
    </body>
</html>